@using EPiServer.Framework.Localization;
@using EPiServer.ServiceLocation;
@using EPiServer.Web;
@using Head_Chef.Models.ViewModels
@using Head_Chef.Models.Pages
@using EPiServer.Web.Mvc.Html

@model IPageViewModel<SitePageData>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IContentLoader _contentLoader;
@*@{
    var currentLanguage = _contentLoader.Get<SitePageData>(contentL).Language;
}*@
@{
    var urlLanguage = "";
    if (!@Model.CurrentPage.IsMasterLanguageBranch)
    {
        urlLanguage = $"/{Model.Layout.SettingsPage.Language}";
    }
}

@*<style>
    header {
        background-color: #cff2e4;
        color: #286052;
    }

    nav {
        background-color: #cff2e4;
        color: #286052;
    }

    .navbar-dark .navbar-brand {
        color: #286052;
    }

    .navbar-dark .navbar-toggler-icon {
        background-color: #286052;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #286052;
    }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: #286052;
            text-decoration: underline;
        }

    .navbar-dark .navbar-nav .nav-item.active .nav-link {
        color: #286052;
        font-weight: bold;
        text-decoration: underline;
    }

    .navbar-dark .navbar-toggler {
        border-color: #286052;
    }

    .form-control {
        background-color: #fff;
        color: #286052;
    }

    .btn-light {
        background-color: #286052;
        color: #fff;
    }

        .btn-light:hover {
            background-color: #e0e0e0;
            color: #286052;
        }

    .Search {
        background-color: #e0e0e0;
        color: #286052;
    }

    .navbar-dark .navbar-nav .nav-item.active .nav-link {
        color: #286052;
        font-weight: bold;
        text-decoration: underline;
    }
</style>*@

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentPath = window.location.pathname.toLowerCase();


        var navLinks = document.querySelectorAll(".navbar-nav .nav-link");

        navLinks.forEach(function (link) {
            var linkPath = link.getAttribute("href").toLowerCase();
            if (currentPath === linkPath) {
                link.parentElement.classList.add("active");
            }
        });
    });
</script>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top py-3">
        <div class="container-fluid">
            <a class="navbar-brand hc-heading" href="/">Head Chef</a>  @*Få till rätt hem-länk här*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @{
                var contentRepository = ServiceLocator.Current.GetInstance<IContentRepository>();
                var languageBranches = contentRepository.GetLanguageBranches<PageData>(Model.CurrentPage.ContentLink).ToList();
            }

            @*<ul>
                @foreach (var language in languageBranches)
                {
                    var link = UriUtil.AddLanguageSelection(Model.CurrentPage.LinkURL, language.Language.Name);

                    if (!string.Equals(Model.CurrentPage.Language.Name, language.Language.Name, StringComparison.CurrentCultureIgnoreCase))
                    {
                        var flag = Url.Content("~/gfx/swe-gb_300.webp");
                        

                        <li><a href="@Url.ContentUrl(link)"><img src="@flag" style="height: 48px" />@LocalizationService.Current.GetString("/common/languageSelector")</a></li>
                    }
                }
            </ul>*@




             <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                    @if (Model.Layout.SettingsPage.Navigation != null)
                    {
                        
                        @*var urlLanguage = "";
                        if (!@Model.CurrentPage.IsMasterLanguageBranch)
                        {
                            urlLanguage = $"/{Model.Layout.SettingsPage.Language}";
                        }*@                       

                        @foreach (var item in Model.Layout.SettingsPage.Navigation.FilteredItems)
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link" href="@urlLanguage/@(_contentLoader.Get<SitePageData>(item.ContentLink).URLSegment)">
                                    @(_contentLoader.Get<SitePageData>(item.ContentLink).Name)
                                </a>
                            </li>
                        }
                    }
                </ul> 

                <div class="px-3">
                    @foreach (var language in languageBranches)
                    {
                        var link = UriUtil.AddLanguageSelection(Model.CurrentPage.LinkURL, language.Language.Name);

                        if (!string.Equals(Model.CurrentPage.Language.Name, language.Language.Name, StringComparison.CurrentCultureIgnoreCase))
                        {
                            var flag = Url.Content("~/gfx/swe-gb_300.webp");
                            @*var flag = Url.Content("~/gfx/flag.webp");*@

                            <div><a href="@Url.ContentUrl(link)"><img src="@flag" style="height: 24px" alt="switch language" />@LocalizationService.Current.GetString("/common/languageSelector")</a></div>
                        }
                    }
                </div>

                <form class="d-flex" role="search" action="@Url.ContentUrl(Model.Layout.SettingsPage.SearchPage)">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" value="">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>