@using EPiServer.Framework.Localization;
@using EPiServer.ServiceLocation;
@using EPiServer.Shell.Web.Mvc.Html;
@using EPiServer.Web.Mvc.Html
@using Head_Chef.Models.Pages;
@using Head_Chef.Models.ViewModels

@model StartPageViewModel

@* @await Component.InvokeAsync("Carousel") *@

@Html.PropertyFor(x => x.CurrentPage.Carousel)
@* @Html.PropertyFor(x => x.CurrentPage.ContactArea) *@


    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

            @if(Model.Recipes != null)
            {
            @foreach (var item in Model.Recipes.Take(8)) 
                {
                    <div class="col">
                        <div class="card h-100">   

                            <img src="@item.Image" class="card-img-top img-fluid" alt="@item.Title"/> 
                            <div class="card-body">
                                <a href="@Url.ContentUrl(item.ContentLink)" class="text-decoration-none stretched-link">
                                    <h2 class="card-title h6">@item.Title </h2>
                                </a>
                            </div>
                            <div class="card-footer">
                                <i class="bi bi-clock "></i>
                                <span>@item.ReadyInMinutes min</span>
                            </div>
                            
                        </div>
                    </div>
                }
            }
        </div>
    </div>




@*<h2>Region</h2>
<h3>@Html.Translate("/property/enum/region/" + Model.CurrentPage.Region)</h3>*@

