﻿@using EPiServer.Framework.Localization;
@using EPiServer.ServiceLocation;
@using EPiServer.Web.Mvc.Html
@using Head_Chef.Business.Services.Interfaces;
@using Head_Chef.Models.Pages;
@using Head_Chef.Models.ViewModels

@model RecipePageViewModel
@*@inject ICommentService _service
@{
    _service.Save(new Models.DDS.Comment
            {
                PageId = Model.Id,
                Text = "hej"
            });
}*@

<div class=" bg-body-tertiary">
    <div class=" container-sm pt-5">
        <h1>@Model.CurrentPage.Title</h1>
        <div class="py-5">
            <div class="card shadow-sm">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <img src="@Model.CurrentPage.Image" class="h-100 w-100 overflow-hidden object-fit-cover rounded-start" alt="@Model.CurrentPage.Title">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body p-5">
                            <h2 class="card-title">@Model.CurrentPage.Title</h2>
                            <p class="card-text">@Html.Raw(Model.CurrentPage.Summary)</p>
                            <ul class="pb-3">
                                @Html.Raw(Model.CurrentPage.Ingredients)
                            </ul>
                            <p class="card-text">@Html.Raw(Model.CurrentPage.Instructions)</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div>
            @*<p>@Model.CurrentPage.Id</p>*@
            
            @using (Html.BeginForm("PostComment", "RecipePage", FormMethod.Post)) 
            {
                <input type="hidden" name="pageId" value="@Model.CurrentPage.Id">
                <label for="commentText">Leave a Comment:</label>
                <input type="text" id="commentText" name="commentText">
                <input type="submit" value="Submit">
            }
            @foreach (var comment in Model.Comments)
            {
                <p>@(comment.Text)</p>
            }
        </div>
    </div>
</div>